{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": [">0.25%", "not ie 11", "not op_mini all"]
				},
				"modules": false
			}
		]
	],
	"plugins": [
		"babel-plugin-tailwind"
	],

	"env": {
		"development": {
			"plugins": ["ramda", "babel-plugin-tailwind"]
		},
		"production": {
			"plugins": ["ramda", "babel-plugin-tailwind"]
		},
		"test": {
			"plugins": [
				[
					"module-resolver",
					{
						"alias": {
							"@": "./src/js/",
							"~": "./src/templates/"
						}
					}
				]
			]
		}
	}
}
